<div class="container">
  <h1 class="text-center">Task Manager</h1>
  <form class="form-inline task-form text-center">
    <div class="form-group">
      <label for="newTodo">Task Name</label>
      <input type="text" 
          class="form-control input-lg" id="newTodo" placeholder="Add your task here..." name="newTodo" [(ngModel)]="newTodo"
        autofocus>
    </div>
    <button  class="btn btn-primary btn-lg" (click)="addTodo()">Add Task</button>
  </form>


  <div>
    <ul class="list-group">
      <li class="list-group-item active">
        <span class="badge">{{taskCount}}</span> Existing Tasks
      </li>
      <li *ngFor="let todo of todos;let i = index" class="list-group-item">

        <input #updatedTodo class="taskName" readonly="true" id="{{'taskName'+ i}}" [value]="todo.title" (keyup.escape)="taskNameEscape($event)"
          (blur)="updateTodo(updatedTodo.value, i)" (keyup.enter)="updateTodo(updatedTodo.value, i)" (dblclick)="taskNameDblClick($event)">
        <div class="pull-right">
          <input name="{{'status'+i}}" type="radio" (click)="statusChecked('waiting',i)" [checked]="todo.status == 'waiting'">
          <label class="lblStatus">waiting</label>
          <input name="{{'status'+i}}" type="radio" (click)="statusChecked('inProgress',i)" [checked]="todo.status == 'inProgress'">
          <label class="lblStatus">In Progress</label>
          <input name="{{'status'+i}}" type="radio" (click)="statusChecked('completed',i)" [checked]="todo.status == 'completed'">
          <label class="lblStatus">Completed</label>
          <button type="button" class="btn btn-default"  (click)="destroyTodo(i)">
            <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>   
          </button>
        </div>
      </li>
    </ul>
  </div>
  <div>
    <ul class="list-inline">
      <li class="list-group-item ">
        <a [routerLink]="['']" [class.selected]="path === 'all'">All</a>
      </li>
      <li class="list-group-item ">
        <a [routerLink]="['/waiting']" [class.selected]="path === 'active'">Waiting</a>
      </li>
      <li class="list-group-item ">
        <a [routerLink]="['/inProgress']" [class.selected]="path === 'active'">In Progress</a>
      </li>
      <li class="list-group-item">
        <a [routerLink]="['/completed']" [class.selected]="path === 'completed'">Completed</a>
      </li>
    </ul>
  </div>
</div>