<div class="container">
  <h1 class="text-center">Task Manager</h1>
  <!-- Task add form starts -->
  <form class="form-inline task-form text-center">
    <div class="form-group">
      <label for="newTask">Task Name</label>
      <input type="text" 
          class="form-control input-lg" id="newTask" placeholder="Add your task here..." name="newTask" [(ngModel)]="newTask"
        autofocus>
    </div>
    <button  class="btn btn-primary btn-lg" (click)="addTask()">Add Task</button>
  </form>
  <!-- Task add form ends -->

  <div>
    <!-- Task lists starts -->
    <ul class="list-group">
      <li class="list-group-item active">
        <span class="badge">{{taskCount}}</span>  Tasks List
      </li>
      <li *ngFor="let task of tasks" class="list-group-item">
        <label>
          {{task.title}}
        </label>
        <div class="pull-right">
          <input 
              name="{{'status'+task.id}}" 
              type="radio" 
              (click)="changeStatus('waiting',task.id)" 
              [checked]="task.status == 'waiting'">
          <label class="lblStatus">waiting</label>
          <input name="{{'status'+task.id}}" 
              type="radio" 
              (click)="changeStatus('inProgress',task.id)" 
              [checked]="task.status == 'inProgress'">
          <label class="lblStatus">In Progress</label>
          <input 
              name="{{'status'+task.id}}" 
              type="radio" 
              (click)="changeStatus('completed',task.id)" 
              [checked]="task.status == 'completed'">

          <label class="lblStatus">Completed</label>
          <button type="button" class="btn btn-danger"  (click)="destroyTask(task.id)">
            X   
          </button>
        </div>
      </li>
    </ul>
    <!-- Task lists starts -->
  </div>
  <div>
    <!-- Footer links starts -->
    <ul class="list-inline">
      <li class="list-group-item" [class.active]="status === ''">
        <a [routerLink]="['']">All</a>
      </li>
      <li class="list-group-item " [class.active]="status === 'waiting'">
        <a [routerLink]="['/waiting']">Waiting</a>
      </li>
      <li class="list-group-item " [class.active]="status === 'inProgress'">
        <a [routerLink]="['/inProgress']">In Progress</a>
      </li>
      <li class="list-group-item" [class.active]="status === 'completed'">
        <a [routerLink]="['/completed']">Completed</a>
      </li>
    </ul>
    <!-- Footer links ends -->
  </div>

    <button type="button" class="btn btn-default"  (click)="destroyAllTask()">
            <span  aria-hidden="true">Clear All Tasks</span>      
     </button>

      <li class="list-group-item">
        <a [routerLink]="['/chart']">Go to Chart </a>
      </li>


</div>