.task-list {
    list-style: none;
}
.task-list li {
    width: 100%;
    float: left;
    border: 1px solid black;
}
.task-list li .deleteBtn {
    width: 60px;
    font-size: 1em;
    color: red;
    border-radius: 50px;
    text-align: center;
}
.taskName {
    width: 200px;
    float: left;
    font-size: 1em;
    text-align: left;
}
.taskHeader {
    height: 100px;
    width : 100%;
    float: left;
}

.filters li {
	list-style: none;
}
.disableInput {
    pointer-events:none;
}